<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Ajouter Adresse</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter Adresse</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<section class="contact-page section-b-space">
  <div class="container">
<div class="row">
      <div class="col-sm-12">
        <form class="theme-form">
          <div class="form-row row">
            <div class="col-md-6">
              <label for="name">code postale</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Your code postale"
                     required="">
            </div>
            <div class="col-md-6">
              <label for="email">Rue</label>
              <input type="text" class="form-control" id="last-name" placeholder="Rue" required="">
            </div>
            <div class="col-md-6">
              <label for="review">Numero boite letter</label>
              <input type="text" class="form-control" id="review" placeholder="Enter your number"
                     required="">
            </div>
            <div class="col-md-6">
              <label for="email">Ville</label>
              <input type="text" class="form-control" id="email" placeholder="Email" required="">
            </div>

            <div class="col-md-12">
              <button class="btn btn-solid" type="submit">Enregistrer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
