
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">product</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <div class="collection-filter-block">
            <div class="collection-mobile-back">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    back
                                </span>
            </div>

          </div>

          <!-- side-bar single product slider start -->
          <div class="theme-card">
            <h5 class="title-border">produit image</h5>
            <div class="offer-slider slide-1">
              <div>
                <div class="media" *ngFor="let item of image">
                  <a href=""><img class="img-fluid blur-up lazyload"
                                  src="/api/{{item.image}}" alt=""></a>
                  <div class="media-body align-self-center">
                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                        class="fa fa-star"></i></div><a
                   >

                  </a>

                  </div>
                </div>


              </div>
              <div>



              </div>
            </div>
          </div>
          <!-- side-bar single product slider end -->
        </div>

        <div class="col-lg-9 col-sm-12">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2"><span class="filter-btn"><i class="fa fa-filter"
                                                                              aria-hidden="true"></i> Sidebar</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="product-slick">
                  <div><img src="/api/{{image2}}" alt=""
                            class="img-fluid blur-up lazyload image_zoom_cls-0"></div>

                </div>

                <div >


                </div>
                <div class="row">
                  <div class="col-12 p-0">

                  </div>
                </div>
              </div>
              <div class="col-lg-6 rtl-text">
                <div class="product-right">
                  <div class="product-count">
                    <ul>
                      <li>
                        <img src="../assets/client/images/fire.gif" class="img-fluid" alt="image">
                        <span class="p-counter">37</span>
                        <span class="lang">orders in last 24 hours</span>
                      </li>
                      <li>
                        <img src="../assets/client/images/person.gif" class="img-fluid user_img"
                             alt="image">
                        <span class="p-counter">44</span>
                        <span class="lang">active view this</span>
                      </li>
                    </ul>
                  </div>
                  <h2>{{nom}}</h2>
                  <div class="rating-section">
                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                        class="fa fa-star"></i></div>
                    <h6>120 ratings</h6>
                  </div>
                  <div class="label-section">
                    <span class="badge badge-grey-color">#1 Best seller</span>

                  </div>

                  <h3 class="price-detail"  *ngIf="promotion == 'false'" >{{prix}}TND</h3>

                  <h3 class="price-detail" *ngIf="promotion == 'true'"  >{{prix}} TND <del>{{prixold}}</del><span>{{numberpromotion}}% off</span></h3>
                  <h3 class="price-detail" *ngIf="promotion == 'true'"  >jusqu'a  <span> {{date_exp}} </span></h3>
                  <ul class="color-variant">
                    <li class="bg-light0 active"></li>
                    <li class="bg-light1"></li>
                    <li class="bg-light2"></li>
                  </ul>
                  <div id="selectSize"
                       class="addeffect-section product-description border-product">

                    <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sheer
                              Straight Kurta</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="modal-body"><img
                            src="../assets/client/images/size-chart.jpg" alt=""
                            class="img-fluid blur-up lazyload"></div>
                        </div>
                      </div>
                    </div>


                    <h6 class="product-title">quantity</h6>
                    <div class="qty-box">
                  <h2 style="background-color: red;" *ngIf="quantite != 0" >il vous reste {{quantite}} produits</h2>
                  <h2 style="background-color: red;" *ngIf="quantite == 0" >produit en rupture de stock</h2>
                    </div>
                  </div>
                  <div class="product-buttons"><a (click)="ajouterPanier(message,idProduit,prix)"  id="cartEffect"
                                                  class="btn btn-solid hover-solid btn-animation"><i
                    class="fa fa-shopping-cart me-1" aria-hidden="true"></i> add to
                    cart</a><br>




                  </div>
                  <div class="border-product">

                    <div class="timer">
                      <a (click)="jaime(message, idproduitss)" class="btn btn-solid"><i
                        class="fa fa-bookmark fz-16 me-2"
                        aria-hidden="true"></i>j'aime</a>


                        <br>
                        <br>

                        <h3 class="price-detail"  >totale j'aime <span> </span></h3>

                        <a  class="btn btn-solid">{{countlike}}</a>
                    </div>
                  </div>
                  <br>
                  <div class="border-product">

                    <div class="timer">

                        <br>

                        <input #inputnoter1  type="radio" [name]="message" [value]="1" id=""> <i class="fa fa-star"></i>
                        <br>
                        <input #inputnoter2  type="radio"  [name]="message" [value]="2" id=""> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <br>
                        <input #inputnoter3  type="radio"  [name]="message"  [value]="3" id=""> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <br>
                        <input #inputnoter4  type="radio"  [name]="message" [value]="4" id=""> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <br>
                        <input #inputnoter5  type="radio"  [name]="message"  [value]="5"id=""> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i>
<br>
<a (click)="noterProduit(message,idproduitss)" class="btn btn-solid"><i
  class="fa fa-bookmark fz-16 me-2"
  aria-hidden="true"></i>noter produit</a>


                        <br>
                        <br>

                        <h3 class="price-detail"  >noter produit <span> </span></h3>

                        <a  class="btn btn-solid">{{numberRate}} / 5</a>
                    </div>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">shipping info</h6>
                    <ul class="shipping-info">
                      <li>100% Original Products</li>
                      <li>Free Delivery on order above Rs. 799</li>
                      <li>Pay on delivery is available</li>
                      <li>Easy 30 days returns and exchanges</li>
                    </ul>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">share it</h6>
                    <div class="product-icon">
                      <ul class="product-social">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="top-home-tab"
                                          data-bs-toggle="tab" href="#top-home" role="tab" aria-selected="true"><i
                    class="icofont icofont-ui-home"></i>Details</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item"><a class="nav-link" id="profile-top-tab"
                                          data-bs-toggle="tab" href="#top-profile" role="tab"
                                          aria-selected="false"><i
                    class="icofont icofont-man-in-glasses"></i>Specification</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item"><a class="nav-link" id="contact-top-tab"
                                          data-bs-toggle="tab" href="#top-contact" role="tab"
                                          aria-selected="false"><i class="icofont icofont-contacts"></i>Video</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item"><a class="nav-link" id="review-top-tab"
                                          data-bs-toggle="tab" href="#top-review" role="tab"
                                          aria-selected="false"><i class="icofont icofont-contacts"></i>Write
                    Review</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                       aria-labelledby="top-home-tab">
                    <div class="product-tab-discription">
                      <div class="part">
                        <p>{{Description}}</p>
                      </div>



                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-profile" role="tabpanel"
                       aria-labelledby="profile-top-tab">
                    <p>The Model is wearing a white blouse from our stylist's collection, see
                      the image for a mock-up of what the actual blouse would look like.it has
                      text written on it in a black cursive language which looks great on a
                      white color.</p>
                    <div class="single-product-tables">
                      <table>
                        <tbody>
                        <tr>
                          <td>Sleeve Length</td>
                          <td>Sleevless</td>
                        </tr>
                        <tr>
                          <td>Neck</td>
                          <td>Round Neck</td>
                        </tr>
                        <tr>
                          <td>Occasion</td>
                          <td>Sports</td>
                        </tr>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                        <tr>
                          <td>Fabric</td>
                          <td>Polyester</td>
                        </tr>
                        <tr>
                          <td>Fit</td>
                          <td>Regular Fit</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-contact" role="tabpanel"
                       aria-labelledby="contact-top-tab">
                    <div class="">
                      <iframe width="560" height="315"
                              src="https://www.youtube.com/embed/BUWzX78Ye_8"
                              allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-review" role="tabpanel"
                       aria-labelledby="review-top-tab">
                    <form class="theme-form">
                      <div class="form-row row">
                        <div class="col-md-12">
                          <div class="media">
                            <label>Rating</label>
                            <div class="media-body ms-3">
                              <div class="rating three-star"><i
                                class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i
                                class="fa fa-star"></i></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name"
                                 placeholder="Enter Your name" required>
                        </div>
                        <div class="col-md-6">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email"
                                 placeholder="Email" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <input type="text" class="form-control" id="review"
                                 placeholder="Enter your Review Subjects" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <textarea class="form-control"
                                    placeholder="Wrire Your Testimonial Here"
                                    id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-solid" type="submit">Submit YOur
                            Review</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->


<!-- related products -->
<section class="section-b-space pt-0 ratio_asos">
  <div class="container">
    <div class="row">
      <div class="col-12 product-related">
        <h2>related products</h2>
      </div>
    </div>
    <div class="row search-product">
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/33.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/34.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/1.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/2.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/27.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/28.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/35.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/36.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/2.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/1.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <div class="product-box">
          <div class="img-wrapper">
            <div class="front">
              <a href="#"><img src="../assets/client/images/pro3/28.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="back">
              <a href="#"><img src="../assets/client/images/pro3/27.jpg"
                               class="img-fluid blur-up lazyload bg-img" alt=""></a>
            </div>
            <div class="cart-info cart-wrap">
              <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart"><i
                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)"
                                                          title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                                                                                                     data-bs-toggle="modal" data-bs-target="#quick-view" title="Quick View"><i
              class="ti-search" aria-hidden="true"></i></a> <a href="compare.html"
                                                               title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product-detail">
            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
              class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <a href="product-page(no-sidebar).html">
              <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
            <ul class="color-variant">
              <li class="bg-light0"></li>
              <li class="bg-light1"></li>
              <li class="bg-light2"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- related products -->
