<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>livreur List
            <small>Multikart Admin panel</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i data-feather="home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">livreur</li>
          <li class="breadcrumb-item active">livreur List</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <form class="form-inline search-form search-box">
            <div class="form-group">
              <input class="form-control-plaintext" type="search" placeholder="Search..">
            </div>
          </form>
          <a routerLink="/AjouterLivreur" class="btn btn-primary mt-md-0 mt-2">Add New
            livreur</a>
        </div>
        <div class="card-body">
          <div class="table-responsive table-desi">
            <table class="table all-package" id="editableTable">
              <thead>
              <tr>
                <th>Order Image</th>
                <th>Order Code</th>
                <th>Date</th>
                <th>Payment Method</th>
                <th>Delivery Status</th>
                <th>Amount</th>
                <th>Option</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>
                  <img src="assets/images/dashboard/product/1.jpg" alt="users">
                </td>

                <td data-field="number">+ 406-4883635</td>

                <td data-field="date">Jul 20, 2021</td>

                <td data-field="text">Paypal</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a routerLink="/UpdateLivreur">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/2.jpg" alt="users">
                </td>

                <td data-field="number">+ 573-685572</td>

                <td data-field="date">Jul 25, 2021</td>

                <td data-field="text">Paypal</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/3.jpg" alt="users">
                </td>

                <td data-field="number">+ 759-4568734</td>

                <td data-field="date">Jul 29, 2021</td>

                <td data-field="text">Stripe</td>

                <td class="order-warning">
                  <span>Refunded</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/4.jpg" alt="users">
                </td>

                <td data-field="number">+ 546-7664537</td>

                <td data-field="date">Jul 30, 2021</td>

                <td data-field="text">Paypal</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/6.jpg" alt="users">
                </td>

                <td data-field="number">+ 479-7533144</td>

                <td data-field="date">Aug 01, 2021</td>

                <td data-field="text">Stripe</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/dashboard/product/7.jpg" alt="users">
                </td>

                <td data-field="number">+ 456-1245789</td>

                <td data-field="date">Aug 10, 2021</td>

                <td data-field="text">Stripe</td>

                <td class="order-pending">
                  <span>Pending</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/8.jpg" alt="users">
                </td>

                <td data-field="number">+ 057-3657895</td>

                <td data-field="date">Aug 18, 2021</td>

                <td data-field="text">Paypal</td>

                <td class="order-pending">
                  <span>Pending</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/9.jpg" alt="users">
                </td>

                <td data-field="number">+ 123-1234567</td>

                <td data-field="date">Aug 29, 2021</td>

                <td data-field="text">Paypla</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/10.jpg" alt="users">
                </td>

                <td data-field="number">+ 987-9876543</td>

                <td data-field="date">Sep 09, 2021</td>

                <td data-field="text">Paypal</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/11.jpg" alt="users">
                </td>

                <td data-field="number">+ 147-3692584</td>

                <td data-field="date">Sep 17, 2021</td>

                <td data-field="text">Stripe</td>

                <td class="order-success">
                  <span>Approved</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="assets/images/dashboard/product/12.jpg" alt="users">
                </td>

                <td data-field="number">+ 586-5865224</td>

                <td data-field="date">Sep 20, 2021</td>

                <td data-field="text">Stripe</td>

                <td class="order-warning">
                  <span>Refunded</span>
                </td>

                <td data-field="number">$15</td>

                <td>
                  <a href="javascript:void(0)">
                    <i class="fa fa-edit" title="Edit"></i>
                  </a>

                  <a href="javascript:void(0)">
                    <i class="fa fa-trash" title="Delete"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
