<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Create Quiz
            <small>Multikart Admin panel</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i data-feather="home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">Users </li>
          <li class="breadcrumb-item active">Create User </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-body">

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="account" role="tabpanel"
                 aria-labelledby="account-tab">
              <form class="needs-validation user-add" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                  <label for="validationCustom0"
                         class="col-xl-3 col-md-4"><span>*</span> Titre quiz</label>
                  <div class="col-xl-8 col-md-7">
                    <input  #inputTitreQuiz  formControlName="titrequiz" [ngClass]="{ 'is-invalid': submitted && f['titrequiz'].errors }"   class="form-control" id="validationCustom0" type="text"
                           required="">
                           <div *ngIf="submitted && f['titrequiz'].errors" class="invalid-feedback">
                <div *ngIf="f['titrequiz'].errors['required']">titre quiz is required</div>
                <div *ngIf="f['titrequiz'].errors['pattern']">titre quiz only string</div>
<!--                <div *ngIf="g['produit'].errors['email']">Email must be a valid email address</div>-->

              </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="validationCustom1"
                         class="col-xl-3 col-md-4"><span>*</span>option 1</label>
                  <div class="col-xl-8 col-md-7">
                    <input #inputoption1  formControlName="option1" [ngClass]="{ 'is-invalid': submitted && f['option1'].errors }"   class="form-control" id="validationCustom1" type="text"
                           required="">
                           <div *ngIf="submitted && f['option1'].errors" class="invalid-feedback">
                            <div *ngIf="f['option1'].errors['required']">option 1 quiz is required</div>

            <!--                <div *ngIf="g['produit'].errors['email']">Email must be a valid email address</div>-->

                          </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="validationCustom2"
                         class="col-xl-3 col-md-4"><span>*</span> option 2 </label>
                  <div class="col-xl-8 col-md-7">
                    <input  #inputoption2 formControlName="option2" [ngClass]="{ 'is-invalid': submitted && f['option2'].errors }"   class="form-control" id="validationCustom2" type="text"
                           required="">
                           <div *ngIf="submitted && f['option2'].errors" class="invalid-feedback">
                            <div *ngIf="f['option2'].errors['required']">option 2 quiz is required</div>

            <!--                <div *ngIf="g['produit'].errors['email']">Email must be a valid email address</div>-->

                          </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="validationCustom3"
                         class="col-xl-3 col-md-4"><span>*</span> option 3 </label>
                  <div class="col-xl-8 col-md-7">
                    <input #inputoption3  formControlName="option3" [ngClass]="{ 'is-invalid': submitted && f['option3'].errors }"   class="form-control" id="validationCustom3"
                           type="text" required="">
                           <div *ngIf="submitted && f['option3'].errors" class="invalid-feedback">
                            <div *ngIf="f['option3'].errors['required']">option 3 quiz is required</div>

            <!--                <div *ngIf="g['produit'].errors['email']">Email must be a valid email address</div>-->

                          </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="validationCustom4"
                         class="col-xl-3 col-md-4"><span>*</span> bonne
                    reponse</label>
                  <div class="col-xl-8 col-md-7">
                    <input #inputbonnereponse  formControlName="bonnereponse" [ngClass]="{ 'is-invalid': submitted && f['bonnereponse'].errors }"   class="form-control" id="validationCustom4"
                           type="text" required="">
                           <div *ngIf="submitted && f['bonnereponse'].errors" class="invalid-feedback">
                            <div *ngIf="f['bonnereponse'].errors['required']">bonne reponse is required</div>


            <!--                <div *ngIf="g['produit'].errors['email']">Email must be a valid email address</div>-->

                          </div>
                  </div>
                </div>
                <div class="pull-right"  style >
                  <button type="submit" class="btn btn-primary">Save</button>

                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
