


                  <form class="form-horizontal reset-pass auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h3 class="forgot-title"> mot de passe oublié</h3>
                    <div class="form-group reset-input">
                      <label>Enter your email address and we will send you a link to
                        reset your password.</label>


                      <input #inputEmail  formControlName="email"  name="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" type="email"
                             class="form-control" placeholder="votre email"
                             id="exampleInputEmail1">
                             <div      *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                              <div *ngIf="f['email'].errors['required']">email et obligatoire</div>
                              <div *ngIf="f['email'].errors['email']">email doit etre valide </div>
                            </div>
                    </div>
                    <div class="form-button">
                      <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                  </form>

